body{
    width: 1500px;
}
nav {
    display: flex;
    width: 1500px;
    height:100px;
    align-items: center;
    background-color: #96d294;
}

.navbar { 
    display: inline;
    padding: 20px;
    color: white;
    align-items: center;
    justify-content: flex-end;  
    width: 100px;
    align-items: center;
}

.nav {
    padding: 50px;
}
h2{
    margin-left: 200px;

}
#edit-box {
    width: 500px;
    margin-left: 200px;
    background-color: #96d294;
}

button {
    background-color: green;
    color: white;
}

#form {
    padding-left: 20px;
}