body{
    width: 1500px;
}
nav {
    display: flex;
    width: 1500px;
    height:100px;
    align-items: center;
    background-color: #96d294;
    color: white;;
}

.navbar { 
    display: inline;
    padding: 20px;
    align-items: center;
    justify-content: flex-end;  
    width: 75px;
    align-items: center;
}

#triptext{
    background-color: #96d294;
    
}

button {
    background-color: green;
    color: white;
}